<%- include('partials/header.ejs') %>


  Restaurant:
<% for(let restaurant in orderObj) { %>
<%=orderObj[restaurant][0].address%>
<% } %>
<div class="jumbotron">

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">userid</th>
      <th scope="col">user phone number</th>
      <th scope="col">order#</th>
    </tr>
  </thead>
  <tbody>

    <% for(let index in orderObj) { %>

    <tr>
      <td><%=orderObj[index][0].user_id%></td>
      <td><%=orderObj[index][0].phone_number%></td>
      <td><%=orderObj[index][0].item_name%></td>

      <% orderObj[index].forEach(function(item) { %>
              <%= item.item_name %>  <%= item.quantity %>
          <% }) %>
        <% } %>
      </td>
  </tbody>
</table>
    <a href="" class="btn btn-info">change time</a>
</div>


<%- include('partials/footer.ejs') %>
