<%- include('partials/header.ejs') %>



<div class="jumbotron">

<% for(let restaurant in orderObj) { %>
<h1> Restaurant:  <%=orderObj[restaurant][0].address%> </h1>
<% } %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">userid</th>
      <th scope="col">user phone number</th>
      <th scope="col">order item</th>
      <th scope="col">quantity</th>
    </tr>
  </thead>
  <tbody>

    <% for(let index in orderObj) { %>

    <tr>

      <td> <%=orderObj[index][0].user_id%> </td>
      <td> <%=orderObj[index][0].phone_number%> </td>
      <% orderObj[index].forEach(function(item) { %>
        <td> <%= item.item_name %> </td>
        <td> <%= item.quantity %> </td>

    </tr>

    <tr>
        <td></td>
        <td></td>
      <% }) %>

    </tr>
        <% } %>
      </td>
  </tbody>
</table>
    <a href="" class="btn btn-info">change time</a>
</div>


<%- include('partials/footer.ejs') %>

<script type="text/javascript">


</script>
