<%- include('partials/header.ejs') %>
<% for(let restaurant in orderObj) { %>
<% restaurantAddress = orderObj[restaurant][0].address%>
<% } %>

<div id="main-container" class="admin-main">
  <div id="admin-container" class="container">

    <div class="row">
      <div id="address">
        <a id="address-text">
          <%=restaurantAddress%></a>
      </div>
    </div>

    <div class="row" id="admin-header">
      <div class="col-3">UserID</div>
      <div class="col-3">User Phone Number</div>
      <div class="col-3">Order</div>
      <div class="col-3">Quantity</div>
    </div>

    <% for(let i = 0; i < userOrder.length; i++) { %>
    <!-- make these 2 into divs -->
    <%=orderObj[index][0].user_id%>
    <%=orderObj[index][0].phone_number%>
    <!-- make this a hover to see full order "hover to see order" -->
    <% orderObj[index].forEach(function(item) { %>
    <%= item.item_name %>
    <%= item.quantity %>
    <% }) %>

    <% } %>


  </div>
</div>
<%- include('partials/footer.ejs') %>
