<%- include('partials/header.ejs') %>

<body>
  <nav class="navbar navbar-dark bg-primary" id="navbar">
    <!-- Navbar content -->
    <div id="title">Food Pick-Up App</div>
  </nav>
  <!-- CAROUSEL HERE -->
  <form action="/orders/:id" method="POST">
    <div id="main-container">
      <div id="pizza-container">
        <div id="pizza-title">Pizza</div>
        <div class="card-deck" id="pizza-display">

          <div class="container">
            <!-- for loop here  -->
            <% for ( let i = 0; i < menu.pizza.length; i++ ) { %>
            <!-- if statment here for rows  -->
            <% if( i === 0 || i % 3 === 0 ) { %>
            <div class="row">
            <% } %>

              <div class="col-xs-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><%= menu.pizza[i].item_name %></h4>
                    <div class="card-div">
                      <img src="<%= menu.pizza[i].photo_URL %>" class="card-img img-fluid">
                    </div>
                    <p class="card-text">$<%= menu.pizza[i].price %></p>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input name="pizza" value="<%= menu.pizza[i].item_name %>" type="checkbox" class="custom-control-input" id="customCheck<%= i =%>">
                    <label class="custom-control-label" for="customCheck<%= i =%>">GET THIS PIZZA</label>
                  </div>
                </div>
              </div>

            <% if( i === 0 || i % 3 === 0 ) { %>
            </div>
            <% } %>

            <% } %>
          </div>

          <br>
          <br>
          <br>
        </div>
        <div id="submit-div">
          <textarea name="phone" value="" placeholder="Phone Number" id="submit-text-area"></textarea>
          <button id="submit-button">Submit</button>
        </div>
      </div>
  </form>

  <%- include('partials/footer.ejs') %>